In [2]:
import pandas as pd #Pandas 모듈 불러오기
import numpy as np
import openpyxl
from datetime import datetime
import matplotlib.pyplot as plt
import scipy.stats as stats
from tqdm import tqdm
tqdm.pandas()
plt.rc('font', family='Malgun Gothic')

In [ ]:
#1. 데이터 불러오기
data = pd.read_csv('../Data/Preprocessed/사용자분석.csv', encoding='utf-8')

In [4]:
#2. 농협마트인 데이터 List
NH_mart = ['구룡농협내산지점(마트)', '구룡농협동조합(마트)', '구룡농협외산지점(마트)', '규암농협마트', '규암농협은산지점(마트)', '농협초촌지점(마트)', '동부여농협 석성지점(마트)', '동부여농협하나로마트', '부여농협 하나로마트', '서부여농협(마트)', '서부여농협남면지점', '서부여농협옥산지점(마트)', '서부여농협충화지점(마트)', '세도농협동부지소( 마트)', '세도농협양화지점(마트)', '세도농협임천지점(마트)', '세도농협하나로마트', '장암농협(마트)']

In [5]:
#3. 지점별 농협마트 데이터 List
구룡농협 = ['구룡농협내산지점(마트)', '구룡농협동조합(마트)', '구룡농협외산지점(마트)']
규암농협 = ['규암농협마트', '규암농협은산지점(마트)']
동부여농협 = ['농협초촌지점(마트)', '동부여농협 석성지점(마트)', '동부여농협하나로마트']
부여농협 = ['부여농협 하나로마트']
서부여농협 = ['서부여농협(마트)', '서부여농협남면지점', '서부여농협옥산지점(마트)', '서부여농협충화지점(마트)']
세도농협 = ['세도농협동부지소( 마트)', '세도농협양화지점(마트)', '세도농협임천지점(마트)', '세도농협하나로마트']
장암농협 = ['장암농협(마트)']

In [6]:
#4. 농협마트인 데이터만 추출
df_nh = data.loc[data['가맹점명'].isin(NH_mart)]

In [ ]:
#4. 각 지점별 농협 마트 묶어주기
df_nh.loc[df_nh['가맹점명'].isin(구룡농협),'가맹점명'] = '구룡농협'
df_nh.loc[df_nh['가맹점명'].isin(규암농협),'가맹점명'] = '규암농협'
df_nh.loc[df_nh['가맹점명'].isin(동부여농협),'가맹점명'] = '동부여농협'
df_nh.loc[df_nh['가맹점명'].isin(부여농협),'가맹점명'] = '부여농협'
df_nh.loc[df_nh['가맹점명'].isin(서부여농협),'가맹점명'] = '서부여농협'
df_nh.loc[df_nh['가맹점명'].isin(세도농협),'가맹점명'] = '세도농협'
df_nh.loc[df_nh['가맹점명'].isin(장암농협),'가맹점명'] = '장암농협'
df_nh

In [8]:
df_nh.groupby(['연도','분기','가맹점명'])['사용금액'].sum().reset_index()

        연도  분기   가맹점명       사용금액
0    2019년   4   구룡농협    8583411
1    2019년   4   규암농협   28225850
2    2019년   4  서부여농협   20963210
3    2019년   4   세도농협   28666830
4    2019년   4   장암농협   13817138
..     ...  ..    ...        ...
112  2023년   4  동부여농협   78119742
113  2023년   4   부여농협  105442980
114  2023년   4  서부여농협   87207480
115  2023년   4   세도농협  144060930
116  2023년   4   장암농협   29514202

[117 rows x 4 columns]

In [ ]:
df_nh.groupby(['연도','분기','가맹점명'])['사용금액'].sum().reset_index().to_excel('../Result/400. 농협분석/농협분석.xlsx',index=False)