In [2]:
import pandas as pd #Pandas 모듈 불러오기
import numpy as np
import openpyxl
from datetime import datetime
import matplotlib.pyplot as plt
import scipy.stats as stats
from tqdm import tqdm
tqdm.pandas()
plt.rc('font', family='Malgun Gothic')

In [3]:
data_가맹 = pd.read_csv('../Data/Preprocessed/사용자분석.csv', encoding='utf-8')
data_가맹.head()

,사용자코드,연도,분기,월,날짜,요일,시간대명,성별,연령대,나이,...,시,도,읍/면,가맹점명,골목상권분류,대분류,중분류,소분류,가맹점 주소,가맹가입일자
0,차기순01041235434,2019년,4,12월,20191226,목,12시~17:59분,여자,40대,40.0,...,부여군,충남,부여읍,문광사,기타,기타,기타,기타,부여읍,2019-11-05
1,차기순01041235434,2020년,1,1월,20200107,화,18시~23시59분,여자,40대,41.0,...,부여군,충남,부여읍,문광사,기타,기타,기타,기타,부여읍,2019-11-05
2,차기순01041235434,2020년,2,5월,20200514,목,12시~17:59분,여자,40대,41.0,...,부여군,충남,부여읍,문광사,기타,기타,기타,기타,부여읍,2019-11-05
3,차기순01041235434,2020년,2,6월,20200626,금,12시~17:59분,여자,40대,41.0,...,부여군,충남,부여읍,문광사,기타,기타,기타,기타,부여읍,2019-11-05
4,차기순01041235434,2020년,3,7월,20200707,화,06시~11시59분,여자,40대,41.0,...,부여군,충남,부여읍,문광사,기타,기타,기타,기타,부여읍,2019-11-05

In [4]:
#전처리1. 부여군만 필터링
data_가맹_부여 = data_가맹.loc[data_가맹['시']=='부여군']

이상치 제거 프로세스

In [5]:
#사용자코드별 사용금액 합산
grp_out =  data_가맹_부여.groupby(['사용자코드','연령대'])['사용금액'].sum().reset_index()
grp_out.head(5)

                        사용자코드  연령대     사용금액
0               김길자0418345175  60대   283720
1         (재)국제도덕협회9999990013  20대   106080
2  (재)부여군지역공동체활성화재단9999999991  20대  1271040
3            21보건소01023832199  10대  1524500
4    ALE RISHI RAM01033729301  30대   256910

In [64]:
#이상치 제거 함수 정의
def outlier(x, target_column):
    q1 = x[target_column].quantile(0.25)
    q3 = x[target_column].quantile(0.75)
    iqr = q3-q1

    x.loc[((q1 - iqr*1.5) < x[target_column]) & (x[target_column] < (q3 + iqr*1.5)), f'이상치_{target_column}'] = '정상'
    return x

In [7]:
#함수 한 행씩 apply 하기
no_outlier_grp = grp_out.groupby('연령대').progress_apply(lambda x : outlier(x, '사용금액')).reset_index(drop = True)

100%|██████████| 7/7 [00:00<00:00, 203.27it/s]

In [8]:
##이상치 제거한 변수 정의
data_가맹_부여_이상치제거 = data_가맹_부여.loc[data_가맹_부여['사용자코드'].isin(no_outlier_grp.loc[no_outlier_grp['이상치_사용금액'] == '정상','사용자코드'])]

In [9]:
#분석월 정의 21년~23년,  1~10월까지만 분석 데이터로 정의
분석동월 = ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월']

In [10]:
#분석월 정의 21년~23년,  1~10월까지만 분석 데이터로 정의
data_가맹_부여_in_out = data_가맹_부여_이상치제거.loc[(data_가맹_부여_이상치제거['연도']=='2021년') | (data_가맹_부여_이상치제거['연도']=='2022년') | (data_가맹_부여_이상치제거['연도']=='2023년')]
data_가맹_부여_in_out = data_가맹_부여_in_out[data_가맹_부여_in_out['월'].isin(분석동월)]

In [12]:
in_out_location = data_가맹_부여_in_out[data_가맹_부여_in_out['읍/면'] == data_가맹_부여_in_out['가맹점 주소']].groupby(['연도','읍/면']).agg({'사용금액':'sum', '사용자코드':'nunique'}).reset_index() #본인지역 사용 금액, 사용자 수
in_out_location.rename(columns={'사용금액':'상주인구 사용금액','사용자코드':'상주인구 사용자 수'},inplace=True)

in_out_location['상주인구 사용횟수'] = data_가맹_부여_in_out[data_가맹_부여_in_out['읍/면'] == data_가맹_부여_in_out['읍/면']].groupby(['연도','읍/면'])['사용자코드'].count().reset_index()['사용자코드']
in_out_location['유입인구 사용금액'] = data_가맹_부여_in_out[data_가맹_부여_in_out['읍/면'] != data_가맹_부여_in_out['가맹점 주소']].groupby(['연도','읍/면'])['사용금액'].sum().reset_index()['사용금액']
in_out_location['유입인구 사용자 수'] = data_가맹_부여_in_out[data_가맹_부여_in_out['읍/면'] != data_가맹_부여_in_out['가맹점 주소']].groupby(['연도','읍/면'])['사용자코드'].nunique().reset_index()['사용자코드']
in_out_location['유입인구 사용횟수'] = data_가맹_부여_in_out[data_가맹_부여_in_out['읍/면'] != data_가맹_부여_in_out['가맹점 주소']].groupby(['연도','읍/면'])['사용자코드'].count().reset_index()['사용자코드']
in_out_location['사용금액 총합계'] = in_out_location['상주인구 사용금액']+in_out_location['유입인구 사용금액']
in_out_location['사용자 수 총합계'] = in_out_location['상주인구 사용자 수']+in_out_location['유입인구 사용자 수']
in_out_location['사용횟수 총합계'] = in_out_location['상주인구 사용횟수']+in_out_location['유입인구 사용횟수']
grp_in_out = in_out_location.groupby('연도')[in_out_location.columns.difference(['연도','읍/면'])].sum().reset_index()
#사용금액 비율
grp_in_out['상주인구 사용금액 비율'] = round(grp_in_out['상주인구 사용금액']/grp_in_out['사용금액 총합계']*100,1)
grp_in_out['유입인구 사용금액 비율'] = round(grp_in_out['유입인구 사용금액']/grp_in_out['사용금액 총합계']*100,1)

#사용자 수 비율
grp_in_out['상주인구 사용자 수 비율'] = round(grp_in_out['상주인구 사용자 수']/grp_in_out['사용자 수 총합계']*100,1)
grp_in_out['유입인구 사용자 수 비율'] = round(grp_in_out['유입인구 사용자 수']/grp_in_out['사용자 수 총합계']*100,1)

#사용횟수 비율
grp_in_out['상주인구 사용횟수 비율'] = round(grp_in_out['상주인구 사용횟수']/grp_in_out['사용횟수 총합계']*100,1)
grp_in_out['유입인구 사용횟수 비율'] = round(grp_in_out['유입인구 사용횟수']/grp_in_out['사용횟수 총합계']*100,1)
grp_in_out[['연도','상주인구 사용금액', '상주인구 사용자 수', '상주인구 사용횟수', '유입인구 사용금액', '유입인구 사용자 수', '유입인구 사용횟수']]

,연도,상주인구 사용금액,상주인구 사용자 수,상주인구 사용횟수,유입인구 사용금액,유입인구 사용자 수,유입인구 사용횟수
0,2021년,33426790534,37297,1701512,24448592071,32300,678384
1,2022년,31229851810,25477,1671715,22677995821,22595,662776
2,2023년,25187492701,25803,1500190,19987392004,23411,623790

In [65]:
#거주지 내/외 사용 구분 변수 정의
data_가맹_부여_in_out.loc[data_가맹_부여_in_out['읍/면'] == data_가맹_부여_in_out['가맹점 주소'],'거주지역 내/외 사용구분'] = '거주지역 내 사용'
data_가맹_부여_in_out.loc[data_가맹_부여_in_out['읍/면'] != data_가맹_부여_in_out['가맹점 주소'],'거주지역 내/외 사용구분'] = '거주지역 외 사용'
data_가맹_부여_in_out.head(3)

,사용자코드,연도,분기,월,날짜,요일,시간대명,성별,연령대,나이,...,읍/면,가맹점명,골목상권분류,대분류,중분류,소분류,가맹점 주소,가맹가입일자,거주지역 내/외 사용구분,기준연월
543,윤현정01050224256,2021년,4,10월,20211007,목,18시~23시59분,여자,40대,40.0,...,부여읍,커피베이,골목상권,음식,커피점/카페,커피전문점/카페/다방,부여읍,2020-01-05,거주지역 내 사용,2021/10
544,윤현정01050224256,2021년,4,10월,20211001,금,18시~23시59분,여자,40대,40.0,...,부여읍,모아 크리닝,기타,기타,기타,기타,부여읍,2020-01-08,거주지역 내 사용,2021/10
545,윤현정01050224256,2021년,4,10월,20211007,목,18시~23시59분,여자,40대,40.0,...,부여읍,모아 크리닝,기타,기타,기타,기타,부여읍,2020-01-08,거주지역 내 사용,2021/10

In [26]:
#충전 데이터와 합치기 위해 기준연월 변수 생성
data_가맹_부여_in_out['기준연월'] = pd.to_datetime(data_가맹_부여_in_out['날짜'], format='%Y%m%d').dt.strftime('%Y/%m')

In [27]:
df_in_out_grp = data_가맹_부여_in_out.groupby(['사용자코드','기준연월','연령대','거주지역 내/외 사용구분','읍/면','가맹점 주소','대분류','소분류'])['사용금액'].sum().reset_index()

충전데이터 구분에 따른 지역내/외 사용 정도 분석

In [17]:
ch_현황_df = pd.read_csv('../Data/Preprocessed/사용자충전데이터.csv', encoding='cp949')
ch_현황_df.head()

       구분       충전금액  발행(정책+민간)    인센티브적립    인센티브사용     기준연월           사용자코드
0  일반 사용자        0.0        0.0       0.0       0.0  2020/11  김진선01029019263
1  일반 사용자        0.0        0.0  776277.0       0.0  2020/11  박대웅01042416386
2  일반 사용자        0.0        0.0   72759.0  279941.0  2020/11  유금예01024888183
3  일반 사용자        0.0        0.0    2010.0       0.0  2020/11  이창희01085080732
4  일반 사용자  1000000.0        0.0  165831.0       0.0  2020/11  이광호01056371015

충전별 구분

In [21]:
#자가충전만 한 사용자
ch_현황_df.loc[(ch_현황_df['충전금액']>0) & (ch_현황_df['발행(정책+민간)']<=0),['충전 구분']] = '자가충전만'
#정책+민간 발행만 받은 사용자
ch_현황_df.loc[(ch_현황_df['충전금액']<=0) & (ch_현황_df['발행(정책+민간)']>0),['충전 구분']] = '발행만'
#정책+민간 발행받고 자가충전을 한 사용자
ch_현황_df.loc[(ch_현황_df['충전금액']>0) & (ch_현황_df['발행(정책+민간)']>0),['충전 구분']] = '자가+발행'
#나머지 알수 없음

In [22]:
ch_현황_df.groupby(['기준연월','사용자코드','충전 구분']).agg({'충전금액':'sum','발행(정책+민간)':'sum'}).reset_index()

,기준연월,사용자코드,충전 구분,충전금액,발행(정책+민간)
0,2020/11,-22320-22320,자가충전만,40000.0,0.0
1,2020/11,-40591-40591,자가충전만,900000.0,0.0
2,2020/11,CHONAN MAKI01033154372,자가충전만,780000.0,0.0
3,2020/11,KAEDA YUKARI01093297250,자가충전만,40000.0,0.0
4,2020/11,Kleitsch David William01028250630,자가충전만,500000.0,0.0
...,...,...,...,...,...
550354,2023/10,황현철01099929584,자가충전만,400000.0,0.0
550355,2023/10,황혜선01088081704,자가충전만,1000000.0,0.0
550356,2023/10,황호연01055774971,자가충전만,350000.0,0.0
550357,2023/10,황화숙01084340611,자가충전만,500000.0,0.0
550358,2023/10,황화정01023814620,자가충전만,480000.0,0.0

In [23]:
ch_data_df = ch_현황_df.groupby(['기준연월','사용자코드','충전 구분']).agg({'충전금액':'sum','발행(정책+민간)':'sum'}).reset_index()

In [29]:
#충전데이터와 사용 데이터 합치기
df_in_out = pd.merge(df_in_out_grp, ch_data_df,how='left',on=['기준연월','사용자코드'])

In [36]:
df_in_out['충전 구분'].unique()

array(['발행만', nan, '자가충전만', '자가+발행'], dtype=object)

In [46]:
#연도, 월 변수 생성
df_in_out['연도'] = pd.to_datetime(df_in_out['기준연월'],format='%Y/%m').dt.strftime('%Y')
df_in_out['월'] = pd.to_datetime(df_in_out['기준연월'],format='%Y/%m').dt.strftime('%m')
df_in_out

,사용자코드,기준연월,연령대,거주지역 내/외 사용구분,읍/면,가맹점 주소,대분류,소분류,사용금액,충전 구분,충전금액,발행(정책+민간),연도,월
0,김길자0418345175,2023/09,60대,거주지역 외 사용,내산면,구룡면,대형마트,수퍼마켓,93400,발행만,0.0,450000.0,2023,09
1,김길자0418345175,2023/10,60대,거주지역 외 사용,내산면,구룡면,대형마트,수퍼마켓,80820,NaN,NaN,NaN,2023,10
2,김길자0418345175,2023/10,60대,거주지역 외 사용,내산면,부여읍,병원,병원,70000,NaN,NaN,NaN,2023,10
3,김길자0418345175,2023/10,60대,거주지역 외 사용,내산면,부여읍,병원,약국,33200,NaN,NaN,NaN,2023,10
4,김길자0418345175,2023/10,60대,거주지역 외 사용,내산면,외산면,병원,약국,6300,NaN,NaN,NaN,2023,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2350426,휜튀짬01056577856,2021/08,30대,거주지역 내 사용,부여읍,부여읍,음식,국수/만두/칼국수,18000,NaN,NaN,NaN,2021,08
2350427,휜튀짬01056577856,2021/10,30대,거주지역 내 사용,부여읍,부여읍,대형마트,수퍼마켓,163230,NaN,NaN,NaN,2021,10
2350428,휜티웃니01095588119,2021/10,30대,거주지역 내 사용,규암면,규암면,대형마트,수퍼마켓,106500,NaN,NaN,NaN,2021,10
2350429,휜티웃니01095588119,2021/10,30대,거주지역 외 사용,규암면,부여읍,기타,기타,19200,NaN,NaN,NaN,2021,10
2350430,휜티웃니01095588119,2021/10,30대,거주지역 외 사용,규암면,홍산면,기타,기타,105050,NaN,NaN,NaN,2021,10

In [47]:
df_in_out_2021 = df_in_out.loc[df_in_out['연도']=='2021']
df_in_out_2022 = df_in_out.loc[df_in_out['연도']=='2022']
df_in_out_2023 = df_in_out.loc[df_in_out['연도']=='2023']

In [48]:
df_in_out_2021.to_excel('../Result/700. 지역균형발전 기여 분석/유입인구 상주인구_2021년.xlsx',index=False)
df_in_out_2022.to_excel('../Result/700. 지역균형발전 기여 분석/유입인구 상주인구_2022년.xlsx',index=False)
df_in_out_2023.to_excel('../Result/700. 지역균형발전 기여 분석/유입인구 상주인구_2023년.xlsx',index=False)

확인 해보니 발행만 받은 사용자들의 지역외 사용 비중이 가장 높게 형성되어 발행만 받은 데이터만 추출하여 현황분석 수행

발행만 받은 데이터 추출

In [56]:
df_in_out_new = df_in_out.loc[(df_in_out['충전 구분']=='발행만') & ((df_in_out['연도']=='2022') | (df_in_out['연도']=='2023'))]

In [58]:
df_in_out_new = df_in_out_new.loc[df_in_out_new['대분류']!='기타']

In [59]:
분석행정동 = ['부여읍','규암면','홍산면']

In [61]:
df_in_out_new.loc[(~df_in_out_new['읍/면'].isin(분석행정동)),'읍/면'] = '기타'
df_in_out_new.loc[(~df_in_out_new['가맹점 주소'].isin(분석행정동)),'가맹점 주소'] = '기타'
df_in_out_new

,사용자코드,기준연월,연령대,거주지역 내/외 사용구분,읍/면,가맹점 주소,대분류,소분류,사용금액,충전 구분,충전금액,발행(정책+민간),연도,월
0,김길자0418345175,2023/09,60대,거주지역 외 사용,기타,기타,대형마트,수퍼마켓,93400,발행만,0.0,450000.0,2023,09
13,(재)부여군지역공동체활성화재단9999999991,2022/05,20대,거주지역 내 사용,부여읍,부여읍,소매,수산물소매,40000,발행만,0.0,500000.0,2022,05
14,(재)부여군지역공동체활성화재단9999999991,2022/05,20대,거주지역 내 사용,부여읍,부여읍,소매,수퍼마켓,12800,발행만,0.0,500000.0,2022,05
15,(재)부여군지역공동체활성화재단9999999991,2022/05,20대,거주지역 내 사용,부여읍,부여읍,소매,양품점,30000,발행만,0.0,500000.0,2022,05
16,(재)부여군지역공동체활성화재단9999999991,2022/05,20대,거주지역 내 사용,부여읍,부여읍,소매,종합소매,23100,발행만,0.0,500000.0,2022,05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2350329,황희선01074340437,2023/09,70대이상,거주지역 내 사용,기타,기타,대형마트,수퍼마켓,125600,발행만,0.0,450000.0,2023,09
2350354,황희숙01032783044,2023/09,70대이상,거주지역 내 사용,기타,기타,대형마트,수퍼마켓,146860,발행만,0.0,450000.0,2023,09
2350355,황희숙01032783044,2023/09,70대이상,거주지역 내 사용,기타,기타,병원,약국,26400,발행만,0.0,450000.0,2023,09
2350356,황희숙01032783044,2023/09,70대이상,거주지역 외 사용,기타,규암면,음식,한식/백반/한정식,40000,발행만,0.0,450000.0,2023,09
2350357,황희숙01032783044,2023/09,70대이상,거주지역 외 사용,기타,부여읍,음식,한식/백반/한정식,84000,발행만,0.0,450000.0,2023,09

In [63]:
df_in_out_new.to_excel('../Result/700. 지역균형발전 기여 분석/2.1 지역균형발전기여(발행만).xlsx',index=False)